@charset "UTF-8";
@import url("modalMessage.css"); 

/* Fonts */
@font-face {
    font-family: 'Roboto-medium';
    src: url('../font/roboto/Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Lobster';
    src: url('../font/Lobster-Regular.ttf');
}

/* config page - Materialize */
.container {
    max-width: 100%;
    width: 90%;
}

/* container */
h1{
    font-family: 'Roboto-medium';
    font-size: 1.8rem;
}
h4{
    font-family: 'Roboto';
    font-size: 1.5rem;
}

th{
    font-size: 1rem;
}

.btn-floating {
    margin-top: -80px;
    float: right;
}

.modal-content form div{
    width: 90%;
    margin-top: 10px;
}
.modal-content form .btn{
    width: 100%;
}
div.button{
    margin-top: 16px !important;
}

.nav-wrapper ul li{
    font-family: 'Roboto-medium';
}

.nav-wrapper{
    background-color: #5cb4bf; 
}
.brand-logo{
    font-family: 'Lobster';
}

.btn-floating{
    background-color: #5cb4bf;
}
.btn-floating:hover{
    background-color: rgb(1, 83, 146);
}
.btn-update{
    background-color: #5cb4bf;
}
.btn-update:hover{
    background-color: rgb(1, 83, 146);
}
.btn-del{
    background-color: red;
}
.btn-del:hover{
    background-color: rgba(255,0,0,.5);
}

tbody {
    display:block;
    height: 600px;
    overflow:auto;
}
thead, tbody tr {
    display: table;
    width:100%;
    table-layout:fixed;
}
  