@charset "UTF-8";

/* modal message */
.modal-content h4{
    font-family: 'Roboto';
    text-align: center;
    color: #00E988;
}
.modal-footer .btn-flat{
    width: 85px;
    font-family: 'Roboto';
    color: #fff;
    background: rgb(11,212,191);
    background: linear-gradient(50deg, rgb(11,212,191) 20%,rgb(24,212,133) 100%);
    background: -moz-linear-gradient(50deg, rgb(11,212,191) 20%,rgb(24,212,133) 100%);
    background: -webkit-linear-gradient(50deg, rgb(11,212,191) 20%,rgb(24,212,133) 100%);
}
h4{
    font-size: 1.5rem;
}
.modal-content h6{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 1rem;
    color: rgb(192, 189, 189);
}
h4.modalError{
    color: red;
}
.modal-content div{
    width: 18%;
    margin: 0px auto;
}
.modal-content img{
    width: 100%;
}

.modal-content .valido{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #00E988;
}
.modal-content .inValido{
    font-family: 'Roboto';
    font-size: 1rem;
    color: red;
}

/* responsive Config */
@media only screen and (min-width: 601px) {
    .modal-content div{
        width: 13%;
        margin: 0px auto;
    }
    h4{
        font-size: 1.9rem;
    }
}
@media only screen and (min-width: 800px) {
    .modal-content div{
        width: 10%;
        margin: 0px auto;
    }
    h4{
        font-size: 2.2rem;
    }
} 
@media only screen and (min-width: 993px) {
    .modal-content div{
        width: 10%;
        margin: 0px auto;
    }
    h4{
        font-size: 2.2rem;
    }
}
