@charset "UTF-8";

.logo-lucky{
    font-family: 'Lobster';
    font-size: 3rem;
    text-align: center;
}
.area-sorteio{
    max-width: 100%;
    width: 100%;
    padding-top: 30px; 
    background: url('../img/sorte.jpg') no-repeat;
    background-color: #dce2e2;
    background-size: 240%;
    background-position-x: 52%;
    border: 1px solid transparent;
}
#sorte{
    width: 500px;
    height: 530px;
    background-color: #dce2e2;
    opacity: .8;
    margin: 0px auto 30px 670px;
    border: 1px solid #5cb4bf;
    box-shadow: 1px 1px 1p #5cb4bf;
    border-radius: 20px;
}
.title-cupom{
    margin-top: 40px;
    font-family: 'Roboto-medium';
    text-align: center;
    font-size: 2.5rem;
}
.aviso{
    margin-top: 130px;
    font-family: 'Roboto-medium';
    text-align: center;
    font-size: 1.5rem;
}
.num{
    margin-top: -25px;
    font-family: 'Roboto-medium';
    font-size: 6rem;
    color: rgb(91, 14, 235);
    text-align: center;
    padding: 0px !important;
}
#sorte h1{
    font-family: 'Lobster';
    font-size: 2.8rem;
    text-align: center;
}
#sorte p.iniciar{
    font-family: 'Roboto-medium';
    font-size: 1.1rem;
    margin-top: 100px;
    text-align: center;
}
#sorte .dados, .dados1{
    font-size: 1.2rem;
    margin-left: 10px;
}
#sorte .dados1{
    margin-top: -105px;
}
#sorte p.dados span, #sorte .dados1 span{
    font-weight: bold;
}
.butao{
    width: 50%;
    margin: 0 auto;
}
.btn-sorte{ 
    width: 100%;
    font-family: 'Roboto';
    background: #5cb4bf;
    border-radius: 50px;
    margin: 0 auto;
}

#organization-btn{
    width: 247px;
    margin: 0px auto;
}
.butao-resultado{
    display: inline-block;
    width: 120px;   
}
.btn-resultado{
    width: 100%;
    background: #5cb4bf; 
    border-radius: 50px;
}
.btn-resultado:hover{
    background-color: rgb(1, 83, 146);
}

